body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }   
        
        .mono {
            font-family: 'Roboto Mono', monospace;
        }
        
        .sans {
            font-family: 'Roboto', sans-serif;
        }
        
        .serif {
            font-family: 'Noto Serif JP', serif;
        }
        
        .settings {
            text-align: center;
            border-color: 1px;
            background-color: #eee;
            position: fixed;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.2s;
        }
        
        .settings:hover {
            opacity: 1;
        }
        
        .settings button {
            border: none;
            background: none;
            text-transform: capitalize;
            cursor: pointer;
            transition: opacity 0.2s;
        }
        
        .settings button:hover {
            opacity: 0.6;
        }
        
        .settings .modes button {
            font-size: 0.8rem;
        }
        
        .settings .action {
            padding: 0.4rem;
        }
        
        .settings .size button {
            font-size: 1rem;
        }
        
        .settings .fonts button {
            font-size: 1.2rem;
            display: inline-block;
            text-align: center;
        }
        
        .settings small {
            font-size: 0.8rem;
            float: left;
        }
        
        .light {
            color: rgba(0, 0, 0, 0.9);
            background-color: #ffffff !important;
        }
        
        .dark {
            color: rgba(255, 255, 255, 0.9);
            background-color: rgb(25, 25, 25) !important;
        }
        
        .dash {
            opacity: 0.2;
        }
        
        hr {
            border: none;
            border-bottom: 1px solid gray;
            opacity: 0.2;
            padding: 0;
            margin: 0;
            margin-bottom: 0.4rem;
        }

        blockquote {
            font-family: Tahoma, sans-serif;
            font-size: 20px;
            width: 60%;
            margin: 0 auto;
         }
         blockquote h1 {
            font-size: 4.7rem;
         }
         blockquote p {
            font-style: italic;
            margin-bottom: 5px;
         }
         
         blockquote p::before,
         blockquote p::after {
            content: "“";
            font-family: Georgia;
            font-size: 5.5rem;
            margin: -2rem 0 0 -4rem;
            position: absolute;
            opacity: 0.5;
         }
         
         blockquote p::after {
            content: "”";
            margin: -.5rem -4rem 0 1rem;
         }
         
         blockquote cite {
            font-size: 1.2rem;
            color: gray;
         }